h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

header {
  font-family: "Poppins", sans-serif;
  background-color: #D21312;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
header .navbar-brand:hover {
  color: white;
}
header .navbar-nav .nav-link {
  color: white;
}
header .navbar-nav .nav-link:hover {
  font-weight: bold;
}
header .navbar-nav .link-active {
  color: white;
  text-decoration: underline;
}
header .navbar .offcanvas {
  background-color: #0f0f0f;
  border-top: #070A52 solid 2px;
  border-left: #070A52 solid 2px;
}
header .navbar .offcanvas-header {
  padding: 2em;
}
header .navbar .offcanvas-header-title {
  color: white;
  font-weight: 700;
}

footer {
  color: black;
  background-color: white;
  padding: 2em;
  font-family: "Raleway", sans-serif;
}
footer h3 {
  font-size: 3em;
  font-weight: 700;
}
footer h4 {
  color: #252525;
  font-weight: 600;
  font-size: 2em;
}
footer .ul-nav-footer {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-flow: column;
}
footer .ul-nav-footer li {
  padding-bottom: 0.5em;
}
footer .ul-nav-footer li a {
  font-weight: 400;
  color: black;
}
footer .presentacion h4 {
  padding: 0%;
  padding-top: 1em;
}
footer .social-media {
  padding: 0%;
  padding-left: 1em;
  display: flex;
  gap: 1.5em;
}

@media only screen and (min-width: 1024px) {
  footer {
    color: black;
    background-color: white;
    padding: 2em;
    font-family: "Raleway", sans-serif;
  }
  footer h3 {
    font-size: 3em;
    font-weight: 700;
  }
  footer h4 {
    color: #252525;
    font-weight: 600;
    font-size: 1.8em;
  }
  footer .ul-nav-footer {
    font-size: 1em;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    padding: 0%;
  }
  footer .ul-nav-footer li a {
    font-weight: 500;
    color: black;
  }
  footer .ul-nav-footer li a:hover {
    color: #070A52;
    text-decoration: underline;
  }
  footer .presentacion h4 {
    padding: 0%;
  }
  footer .social-media {
    padding: 0%;
    padding-left: 1em;
    display: flex;
    gap: 1.5em;
  }
}
.btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.btn-get-started:hover {
  background: #ED2B2A;
  border: 2px solid #ED2B2A;
}

.boton-general {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #D21312;
  background-color: #D21312;
  color: white;
}
.boton-general:hover {
  background: #8f0d0d;
  border: 2px solid #8f0d0d;
}

.division {
  height: 3em;
  background-color: #D21312;
}

.mapa {
  border: 0;
  width: 100%;
  height: 270px;
}

.card {
  border: 2px solid #201f1f;
  background-color: #0f0f0f;
  width: 100%;
  border-radius: 8px;
  color: white;
}
.card-title {
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}
.card-text {
  text-align: center;
}

.span-color {
  color: #FFD93D;
}

.span-weight {
  font-weight: bold;
}

.ri-error-warning-fill {
  color: red;
}

.ri-checkbox-blank-circle-fill {
  color: white;
}

.ri-check-double-line {
  color: green;
}

.ri-arrow-drop-right-line {
  font-size: 1em;
}

.ri-menu-fill {
  color: white;
  border: none;
  font-size: 20px;
}

.logos {
  background-color: #000000;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.logos:hover {
  color: #ED2B2A;
  transition-duration: 300ms;
  padding: 0.6em;
  font-size: 1.6em;
}

.main {
  color: white;
  background-color: #000000;
}
.main .hero {
  width: 100%;
  height: 80vh;
  background: url("../img/gym.jpg") center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.main .hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.main .hero__text h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}
.main .hero__text h2 {
  color: white;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.main .objetivo {
  padding-top: 3em;
  padding-bottom: 3em;
}
.main .objetivo__content h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main .objetivo__content h4 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}
.main .objetivo__content ul li {
  margin-bottom: 0.5em;
}
.main .objetivo__content ul li i {
  left: 0;
  font-size: 20px;
  color: #ED2B2A;
}
.main .objetivo__content .italic {
  font-style: italic;
}

@media only screen and (min-width: 1024px) {
  .main .size {
    width: 100%;
    height: 80vh;
  }
}
.main {
  color: white;
  background-color: #000000;
}
.main__title {
  padding-top: 0.8em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.main .grupos-padre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 30vh);
  grid-gap: 1em;
}
.main .grupos-padre article {
  overflow: hidden;
}
.main .grupos-padre article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s;
}

@media only screen and (min-width: 1024px) {
  .main {
    background-color: #000000;
    color: white;
  }
  .main__title {
    padding-left: 1em;
    font-size: 3.5em;
    text-decoration: underline;
    font-weight: 700;
  }
  .main .grupos-padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 30vh);
    grid-template-areas: "grupoA grupoA grupoB grupoC" "empty1 grupoD grupoE grupoG" "grupoF grupoF grupoE empty" "grupoF grupoF grupoE grupoH" "grupoI grupoI grupoI grupoJ" "grupoK grupoL grupoM grupoN" "grupoO grupoO empty3 grupoN";
    grid-gap: 0.5em;
  }
  .main .grupos-padre article {
    overflow: hidden;
  }
  .main .grupos-padre article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .grupos-padre .g-A {
    grid-area: grupoA;
  }
  .main .grupos-padre .g-B {
    grid-area: grupoB;
  }
  .main .grupos-padre .g-C {
    grid-area: grupoC;
  }
  .main .grupos-padre .g-D {
    grid-area: grupoD;
  }
  .main .grupos-padre .g-E {
    grid-area: grupoE;
  }
  .main .grupos-padre .g-F {
    grid-area: grupoF;
  }
  .main .grupos-padre .g-G {
    grid-area: grupoG;
  }
  .main .grupos-padre .g-H {
    grid-area: grupoH;
  }
  .main .grupos-padre .g-I {
    grid-area: grupoI;
  }
  .main .grupos-padre .g-J {
    grid-area: grupoJ;
  }
  .main .grupos-padre .g-K {
    grid-area: grupoK;
  }
  .main .grupos-padre .g-L {
    grid-area: grupoL;
  }
  .main .grupos-padre .g-M {
    grid-area: grupoM;
  }
  .main .grupos-padre .g-N {
    grid-area: grupoN;
  }
  .main .grupos-padre .g-O {
    grid-area: grupoO;
  }
}
.main {
  color: white;
  background-color: #000000;
}
.main__title {
  padding-top: 0.8em;
  font-size: 2.5em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.main h2 {
  font-size: 1.2em;
}

@media only screen and (min-width: 1024px) {
  .main__title {
    padding-left: 1em;
    font-size: 3.5em;
    text-decoration: underline;
    font-weight: 700;
  }
}
.main {
  color: white;
  background-color: #000000;
}
.main__title {
  padding-top: 0.8em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.main .dietas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.main .dietas__dieta {
  background-color: #0f0f0f;
  display: flex;
  flex-flow: column;
  padding: 0.5em 0.5em;
  border: 1px solid #201f1f;
  border-radius: 1%;
}
.main .dietas__dieta img {
  padding: 5px;
  width: 100%;
}
.main .dietas__dieta-info {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
.main .dietas__dieta-info h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0%;
  text-transform: uppercase;
}
.main .dietas__dieta-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0%;
}
.main .dietas__dieta-inverted {
  display: flex;
  flex-flow: column;
  padding: 0.5em 0.5em;
  justify-content: space-between;
  background-color: #0f0f0f;
  border: 1px solid #201f1f;
}
.main .dietas__dieta-inverted img {
  padding: 5px;
  width: 100%;
}
.main .dietas__dieta-inverted-info {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
.main .dietas__dieta-inverted-info h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0%;
  text-transform: uppercase;
}
.main .dietas__dieta-inverted-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0%;
}

@media only screen and (min-width: 1024px) {
  .main {
    background-color: #000000;
    color: white;
  }
  .main__title {
    padding-left: 1em;
    font-size: 3.5em;
    text-decoration: underline;
    font-weight: 700;
  }
  .main .dietas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .main .dietas__dieta {
    display: flex;
    flex-flow: row;
    padding: 0.5em 0.5em 0.5em 2em;
    justify-content: space-between;
    border-radius: 1%;
  }
  .main .dietas__dieta-info {
    display: flex;
    flex-flow: column;
    width: 32vw;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }
  .main .dietas__dieta-info h2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0%;
    text-transform: uppercase;
  }
  .main .dietas__dieta-info h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0%;
  }
  .main .dietas__dieta img {
    padding: 5px;
    width: 55vw;
  }
  .main .dietas__dieta-inverted {
    display: flex;
    flex-flow: row-reverse;
    padding: 0.5em 2em 0.5em 0.5em;
    justify-content: space-between;
  }
  .main .dietas__dieta-inverted img {
    padding: 5px;
    width: 55vw;
  }
  .main .dietas__dieta-inverted-info {
    display: flex;
    flex-flow: column;
    width: 32vw;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }
  .main .dietas__dieta-inverted-info h2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0%;
    text-transform: uppercase;
  }
  .main .dietas__dieta-inverted-info h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0%;
  }
}
.main {
  color: white;
  background-color: #000000;
}
.main__title {
  padding-top: 0.8em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.main .carousel-inner .carousel-item {
  width: 100%;
  height: 30em;
}
.main .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .carousel-inner .carousel-item .text-carrusel {
  background-color: rgba(185, 175, 175, 0.5019607843);
  border-radius: 15px;
  border-color: rgba(63, 63, 63, 0.5019607843);
}
.main .contacto {
  padding-top: 2em;
}
.main .contacto h2 {
  font-size: 2.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #ED2B2A;
}
.main .contacto .info h2 {
  text-align: start;
  font-size: 2em;
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  .main__title {
    padding-left: 1em;
    font-size: 3.5em;
    text-decoration: underline;
    font-weight: 700;
  }
}
.main-info-dietas {
  background-color: #000000;
  color: white;
}
.main-info-dietas h1 {
  padding-top: 1em;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.main-info-dietas h2 {
  font-size: 1.3em;
}
.main-info-dietas img {
  width: 80%;
  padding-top: 3em;
  padding-bottom: 3em;
}
.main-info-dietas ul li i {
  left: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  .main-info-dietas h1 {
    padding: 0%;
    text-align: start;
  }
}

/*# sourceMappingURL=styles.css.map */
