h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.header {
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: #D21312;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header h1 {
  padding: 0.5em 0em 0em 0em;
  font-size: 2.6em;
  font-weight: 700;
  margin: 0%;
}
.header nav .ul-nav {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  color: white;
  padding: 0%;
}
.header nav .ul-nav li {
  text-align: center;
}
.header nav .ul-nav li a {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #D21312;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
  }
  .header h1 {
    font-size: 3em;
    padding: 0.1em 0em 0.1em 1em;
  }
  .header nav {
    align-self: center;
  }
  .header nav .ul-nav {
    display: flex;
    align-content: space-around;
    gap: 20px;
    font-size: 1.1em;
    margin-bottom: 0rem;
    font-weight: 400;
    color: white;
  }
}
.footer {
  color: white;
  background-color: #070A52;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}
.footer h2 {
  font-size: 1em;
}
.footer nav .ul-nav-footer {
  font-size: 0.5em;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 0%;
}
.footer nav .ul-nav-footer li a {
  font-weight: 400;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .footer {
    background-color: #070A52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em;
  }
  .footer h2 {
    font-size: 2em;
    margin: 0%;
  }
  .footer nav .ul-nav-footer {
    font-size: 0.8em;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    font-weight: 400;
    margin: 0%;
    padding: 0%;
  }
  .footer nav .ul-nav-footer li {
    color: white;
  }
  .footer nav .ul-nav-footer li a {
    font-weight: 400;
    color: white;
  }
}
.btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.btn-get-started:hover {
  background: #ED2B2A;
  border: 2px solid #ED2B2A;
}

.boton-general {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #D21312;
  background-color: #D21312;
  color: white;
}
.boton-general:hover {
  background: #8f0d0d;
  border: 2px solid #8f0d0d;
}

.division {
  height: 3em;
  background-color: #D21312;
}

.mapa {
  border: 0;
  width: 100%;
  height: 270px;
}

.card {
  border: 2px solid #201f1f;
  background-color: #0f0f0f;
}

.main {
  color: white;
  background-color: #000000;
}
.main .size {
  width: 100%;
  height: 80vh;
  background: url("../img/gym.jpg") center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.main .size:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.main .size .inicio h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}
.main .size .inicio h2 {
  color: white;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.main .objetivo {
  padding: 3em;
}
.main .objetivo .content h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main .objetivo .content h4 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}
.main .objetivo .content ul li {
  margin-bottom: 0.5em;
}
.main .objetivo .content ul li i {
  left: 0;
  font-size: 20px;
  color: #ED2B2A;
}
.main .objetivo .content .italic {
  font-style: italic;
}

@media only screen and (min-width: 1024px) {
  .main .size {
    width: 100%;
    height: 80vh;
  }
}
.main-grupos {
  color: white;
  background-color: #000000;
  padding: 1em;
  justify-content: end;
}
.main-grupos .title-grupos {
  font-size: 3.5em;
  font-weight: 700;
  padding: 0.5em;
  text-decoration: underline;
  text-align: center;
}
.main-grupos .grupos-padre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 30vh);
  grid-gap: 1em;
}
.main-grupos .grupos-padre article {
  overflow: hidden;
}
.main-grupos .grupos-padre article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s;
}

@media only screen and (min-width: 1024px) {
  .main-grupos {
    background-color: #000000;
    padding: 2em;
  }
  .main-grupos .title-grupos {
    font-size: 3.5em;
    padding: 0.5em;
    text-decoration: underline;
    text-align: start;
    font-weight: bolder;
  }
  .main-grupos .grupos-padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 30vh);
    grid-template-areas: "grupoA grupoA grupoB grupoC" "empty1 grupoD grupoE grupoG" "grupoF grupoF grupoE empty" "grupoF grupoF grupoE grupoH" "grupoI grupoI grupoI grupoJ" "grupoK grupoL grupoM grupoN" "grupoO grupoO empty3 grupoN";
    grid-gap: 0.5em;
  }
  .main-grupos .grupos-padre article {
    overflow: hidden;
  }
  .main-grupos .grupos-padre article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-grupos .grupos-padre .g-A {
    grid-area: grupoA;
  }
  .main-grupos .grupos-padre .g-B {
    grid-area: grupoB;
  }
  .main-grupos .grupos-padre .g-C {
    grid-area: grupoC;
  }
  .main-grupos .grupos-padre .g-D {
    grid-area: grupoD;
  }
  .main-grupos .grupos-padre .g-E {
    grid-area: grupoE;
  }
  .main-grupos .grupos-padre .g-F {
    grid-area: grupoF;
  }
  .main-grupos .grupos-padre .g-G {
    grid-area: grupoG;
  }
  .main-grupos .grupos-padre .g-H {
    grid-area: grupoH;
  }
  .main-grupos .grupos-padre .g-I {
    grid-area: grupoI;
  }
  .main-grupos .grupos-padre .g-J {
    grid-area: grupoJ;
  }
  .main-grupos .grupos-padre .g-K {
    grid-area: grupoK;
  }
  .main-grupos .grupos-padre .g-L {
    grid-area: grupoL;
  }
  .main-grupos .grupos-padre .g-M {
    grid-area: grupoM;
  }
  .main-grupos .grupos-padre .g-N {
    grid-area: grupoN;
  }
  .main-grupos .grupos-padre .g-O {
    grid-area: grupoO;
  }
}
.main-rutinas {
  color: white;
  background-color: #000000;
  padding: 1em;
}
.main-rutinas h1 {
  padding-left: 1em;
  font-size: 3.5em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.3em;
  font-weight: 700;
}

.rutina-box .title-rutina {
  text-align: center;
  margin: 0%;
  font-size: 2em;
}
.rutina-box .subtitle-rutina {
  font-size: 1.5em;
}
.rutina-box .img-rutina {
  width: 100%;
}
.rutina-box .parrafo {
  order: 2;
  font-size: 0.8em;
}

.main-dietas {
  color: white;
  background-color: #000000;
  padding: 2em;
}
.main-dietas h1 {
  font-size: 3.5em;
  text-decoration: underline;
  text-align: center;
  font-weight: 700;
}
.main-dietas .dietas-padre {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.main-dietas .dietas-padre .dieta {
  background-color: #0f0f0f;
  display: flex;
  flex-flow: column;
  padding: 0.5em 0.5em;
  border: 1px solid #201f1f;
  border-radius: 1%;
}
.main-dietas .dietas-padre .dieta img {
  padding: 5px;
  width: 100%;
}
.main-dietas .dietas-padre .dieta-inverted {
  display: flex;
  flex-flow: column;
  padding: 0.5em 0.5em;
  justify-content: space-between;
  border: 1px solid #201f1f;
}
.main-dietas .dietas-padre .dieta-inverted img {
  padding: 5px;
  width: 100%;
}
.main-dietas .dietas-padre .dieta-inverted-info {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
.main-dietas .dietas-padre .dieta-inverted-info h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0%;
  text-transform: uppercase;
}
.main-dietas .dietas-padre .dieta-inverted-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0%;
}
.main-dietas .dietas-padre .dieta-info {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
.main-dietas .dietas-padre .dieta-info h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0%;
  text-transform: uppercase;
}
.main-dietas .dietas-padre .dieta-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0%;
}

@media only screen and (min-width: 1024px) {
  .main-dietas {
    background-color: #000000;
    padding: 2em;
  }
  .main-dietas h1 {
    font-size: 3.5em;
    padding-left: 1em;
    text-decoration: underline;
    text-align: start;
  }
  .main-dietas .dietas-padre {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .main-dietas .dietas-padre .dieta {
    display: flex;
    flex-flow: row;
    padding: 0.5em 0.5em 0.5em 2em;
    justify-content: space-between;
    border-radius: 1%;
  }
  .main-dietas .dietas-padre .dieta-info {
    display: flex;
    flex-flow: column;
    width: 32vw;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }
  .main-dietas .dietas-padre .dieta img {
    padding: 5px;
    width: 55vw;
  }
  .main-dietas .dietas-padre .dieta-inverted {
    display: flex;
    flex-flow: row-reverse;
    padding: 0.5em 0.5em 0.5em 2em;
    justify-content: space-between;
  }
  .main-dietas .dietas-padre .dieta-inverted img {
    padding: 5px;
    width: 55vw;
  }
  .main-dietas .dietas-padre .dieta-inverted-info {
    display: flex;
    flex-flow: column;
    width: 32vw;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }
  .main-dietas .dietas-padre .dieta-inverted-info h2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0%;
    text-transform: uppercase;
  }
  .main-dietas .dietas-padre .dieta-inverted-info h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0%;
  }
}
.main-contacto {
  color: white;
  background-color: #000000;
}
.main-contacto h1 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 2.5em;
  text-decoration: underline;
  text-align: center;
  font-weight: 700;
}
.main-contacto .info h2 {
  text-align: start;
  font-size: 2em;
  font-weight: 600;
}
.main-contacto .carousel-inner .carousel-item {
  width: 100%;
  height: 30em;
}
.main-contacto .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-contacto .carousel-inner .carousel-item .text-carrusel {
  background-color: rgba(185, 175, 175, 0.5019607843);
  border-radius: 15px;
  border-color: rgba(63, 63, 63, 0.5019607843);
}
.main-contacto .contacto {
  padding: 3em;
}
.main-contacto .contacto h2 {
  font-size: 2.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #ED2B2A;
}

@media only screen and (min-width: 1024px) {
  .main-contacto h1 {
    padding-left: 1em;
    font-size: 3.5em;
    text-decoration: underline;
    text-align: start;
    font-weight: 700;
  }
}

/*# sourceMappingURL=styles.css.map */
