* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

@media (min-width: 320px) {
  /* ------- INDEX ------- */
  .header {
    font-weight: 700;
    background-color: #16db65;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
  }

  .header > h1 {
    font-size: 2.6em;
  }

  .ul-nav {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
  }
  
  .ul-nav >li{
    text-align: center;
  }

  .main {
    background-color: black;
    padding: 1em;
  }

  .intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
  }

  .intro > img {
    width: 100%;
    height: auto;
  }

  .caja {
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .caja > h1 {
    font-size: 3em;
  }

  .footer {
    background-color: #058c42;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em ;
  }

  .footer >h2{
    font-size: 1em;
  }

  .ul-nav-footer {
    font-size: 0.5em;
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  /* -----------Grupos musculares-----------*/

  .main-grupos {
    background-color: black;
    padding: 1em;
    justify-content: end;
  }

  .title-grupos{
    font-size: 2em;
    padding: 0.5em ;
    text-decoration: underline;
    text-align: center;
  }

  .grupos-padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 30vh);
    
    grid-gap: 1em;
  }

  .grupos-padre > article {
    overflow: hidden;
  }

  .grupos-padre > article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
  }

  .grupos-padre > article >img:hover {
    transition: 2s;
    width: 125%;
    height: 125%;
    filter: blur(3px);
  }

  /* --------- Rutinas ----------  */
  .main-rutinas {
    background-color: black;
    padding: 2em;
  }

  .main-rutinas > h1 {
    font-size: 3.5em;
    padding-left: 1em;
    text-decoration: underline;
  }

  .rutinas {
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
  }

  .rutina {
    display: flex;
    flex-flow: column;
    padding: 2em 2em 4em 2em;
    width: 320px;
    align-items: center;
  }

  .rutina > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 18em;
  }
  .parrafo {
    order: 2;
    font-size: 0.8em;
  }

  .img-rutina{
    width: 100%;
  }

  .title-rutina{
    text-align: center;
  }
  /* --------- Dietas ----------  */
  .main-dietas {
    background-color: black;
    padding: 2em;
  }
  .main-dietas > h1 {
    font-size: 3.5em;
    padding-left: 1em;
    text-decoration: underline;
  }

  .dietas-padre {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .dieta {
    display: flex;
    flex-flow: column;
    padding: 0.5em 0.5em;
    border: 1px solid #fff;
    border-radius: 1%;
  }

  .dieta-inverted {
    display: flex;
    flex-flow: column;
    padding: 0.5em 0.5em;
    justify-content: space-between;
    border: 1px solid #fff;
  }

  .dieta-info {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }

  .dieta > img {
    padding: 5px;
    width: 100%;
  }

  .dieta-inverted > img {
    padding: 5px;
    width: 100%;
  }
}



@media only screen and (min-width: 1024px) {
  /* -----------INDEX-----------*/
  .header {
    font-weight: 700;
    background-color: #16db65;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
  }

  .header > h1 {
    font-size: 3em;
  }

  .nav {
    align-self: flex-end;
  }

  .ul-nav {
    display: flex;
    align-content: space-around;
    gap: 20px;
    font-size: 1.1em;
  }

  .main {
    background-color: black;
    padding: 2em;
  }

  .intro {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    gap: 3em;
  }

  .intro > img {
    width: 60%;
    height: auto;
  }

  .caja {
    width: 350px;
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .title-main{
    font-size: 3em;
    text-decoration: underline;
  }

  .footer {
    background-color: #058c42;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em;
  }

  .footer >h2{
    font-size: 2em;
  }

  .ul-nav-footer {
    font-size: 0.8em;
    display: flex;
    flex-flow: row;
    align-content: space-around;
    gap: 10px;
  }

  /* -----------Grupos musculares-----------*/

  .main-grupos {
    background-color: black;
    padding: 2em;
  }
  .main-grupos > h1 {
    font-size: 3.5em;
    padding: 0.5em 1em;
    text-decoration: underline;
    text-align: start;
  }
  .grupos-padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 30vh);
    grid-template-areas:
      "grupoA grupoA grupoB grupoC"
      "empty1 grupoD grupoE grupoG"
      "grupoF grupoF grupoE empty"
      "grupoF grupoF grupoE grupoH"
      "grupoI grupoI grupoI grupoJ"
      "grupoK grupoL grupoM grupoN"
      "grupoO grupoO empty3 grupoN";
    grid-gap: 0.5em;
  }

  .grupos-padre > article {
    overflow: hidden;
  }
  .grupos-padre > article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
  }
  .grupos-padre > article >img:hover {
    transition: 2s;
    width: 125%;
    height: 125%;
    filter: blur(3px);
  }
  .g-A {
    grid-area: grupoA;
  }
  .g-B {
    grid-area: grupoB;
  }
  .g-C {
    grid-area: grupoC;
  }
  .g-D {
    grid-area: grupoD;
  }
  .g-E {
    grid-area: grupoE;
  }
  .g-F {
    grid-area: grupoF;
  }
  .g-G {
    grid-area: grupoG;
  }
  .g-H {
    grid-area: grupoH;
  }
  .g-I {
    grid-area: grupoI;
  }
  .g-J {
    grid-area: grupoJ;
  }
  .g-K {
    grid-area: grupoK;
  }
  .g-L {
    grid-area: grupoL;
  }
  .g-M {
    grid-area: grupoM;
  }
  .g-N {
    grid-area: grupoN;
  }
  .g-O {
    grid-area: grupoO;
  }

  /* -----------Rutinas-----------*/

  .main-rutinas {
    background-color: black;
    padding: 2em;
  }

  .main-rutinas > h1 {
    font-size: 3.5em;
    padding-left: 1em;
    text-decoration: underline;
  }

  .rutinas {
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
  }

  .rutina {
    display: flex;
    flex-flow: column;
    padding: 2em 2em 4em 2em;
    width: 320px;
    align-items: center;
  }

  .rutina > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 18em;
  }
  .parrafo {
    order: 2;
    font-size: 0.8em;
  }

  .img-rutina{
    width: 100%;
  }

  .title-rutina{
    text-align: center;
  }

  /* -----------Dietas-----------*/

  .main-dietas {
    background-color: black;
    padding: 2em;
  }
  .main-dietas > h1 {
    font-size: 3.5em;
    padding-left: 1em;
    text-decoration: underline;
  }

  .dietas-padre {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .dieta {
    display: flex;
    flex-flow: row;
    padding: 0.5em 0.5em;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 1%;
  }

  .dieta-inverted {
    display: flex;
    flex-flow: row-reverse;
    padding: 0.5em 0.5em;
    justify-content: space-between;
    border: 1px solid #fff;
  }

  .dieta-info {
    display: flex;
    flex-flow: column;
    width: 32vw;
    align-content: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }

  .dieta > img {
    padding: 5px;
    width: 55vw;
  }

  .dieta-inverted > img {
    padding: 5px;
    width: 55vw;
  }

  /* -----------Nosotros-----------*/
  .nosotros {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 2em 2em 1em;
    justify-content: space-evenly;
  }
  .nosotros > div > h1 {
    font-size: 5em;
    text-decoration: underline;
    text-align: center;
  }

  .nosotros > div > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 450px;
  }

  .historia {
    width: 350px;
    align-self: center;
  }
  .historia > h2 {
    font-size: 2em;
  }

  .contactanos-padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18vh 70vh;
    grid-template-areas:
      "titulo titulo"
      "formul1 formul2";
  }

  .title-contacto {
    grid-area: titulo;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column1 {
    grid-area: formul1;
  }

  .column2 {
    grid-area: formul2;
  }
}

