.main {
  background-color: black;
  .size {
    width: 100%;
    height: 80vh;
    background: url("../img/gym.jpg") center center;
    background-size: cover;
    position: relative;
    .inicio {
      h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
      }
      h2 {
        color: #eee;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
  .objetivo {
    padding: 3em;
    .content {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}
