.main{
  color: $font-color;
  background-color: $background-color;
  &__title{
    padding-top: 0.8em;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
    
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  h2{
    font-size: 1.2em;
  }
}



@media only screen and (min-width: 1024px) {
  .main{
    &__title{
      padding-left: 1em;
      font-size: 3.5em;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}




