// Paleta morada
// $name: Gymify;
// $primary-color:#66347f;
// $primary-dark-color:#422152;
// $secundary-color:#9E4784;
// $tertiary-color:#D27685;
// $font-color: white;
// $border-dark-card-color:#201f1f;
// $dark-card-color:#0f0f0f;
// $background-color:#000000;

//PALETA AZUL
// $name: Gymify;
// $primary-color:#576CBC;
// $primary-dark-color:#323f75;
// $secundary-color:#19376D;
// $tertiary-color:#A5D7E8;
// $font-color: white;
// $border-dark-card-color:#201f1f;
// $dark-card-color:#0f0f0f;
// $background-color:#000000;

//PALETA ROJA
$name: Gymify;
$primary-color:#D21312;
$primary-dark-color:#8f0d0d;
$secundary-color:#070A52;
$tertiary-color:#ED2B2A;
$complementary-color:#FFD93D;
$font-color: white;
$border-dark-card-color:#201f1f;
$dark-card-color:#0f0f0f;
$background-color:#000000;

//PALETA ROJA-INVERTIDA
// $name: Gymify;
// $primary-color:#070A52;
// $primary-dark-color:#8f0d0d;
// $secundary-color:#D21312;
// $tertiary-color:#F15A59;
// $font-color: white;
// $border-dark-card-color:#201f1f;
// $dark-card-color:#0f0f0f;
// $background-color:#000000;


// $border-light-card-color:#201f1f;
// $light-card-color:#0f0f0f;