footer {
  color: black;
  background-color: white;
  padding: 2em;
  font-family: "Raleway", sans-serif;
  h3 {
    font-size: 3em;
    font-weight: 700;
  }
  h4 {
    color: #252525;
    font-weight: 600;
    font-size: 2em;
  }
  .ul-nav-footer {
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    li {
      padding-bottom: 0.5em;
      a {
        font-weight: 400;
        color: black;
      }
    }
  }
  .presentacion {
    h4 {
      padding: 0%;
      padding-top: 1em;
    }
  }
  .social-media {
    padding: 0%;
    padding-left: 1em;
    display: flex;
    gap: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    color: black;
    background-color: white;
    padding: 2em;
    font-family: "Raleway", sans-serif;
    h3 {
      font-size: 3em;
      font-weight: 700;
    }
    h4 {
      color: #252525;
      font-weight: 600;
      font-size: 1.8em;
    }
    .ul-nav-footer {
      font-size: 1em;
      font-weight: 500;
      display: flex;
      flex-flow: column;
      padding: 0%;
      li {
        a {
          font-weight: 500;
          color: black;
          &:hover{
            color: $secundary-color;
            text-decoration: underline;
          }
        }
        
      }
    }
    .presentacion {
      h4 {
        padding: 0%;
      }
    }
    .social-media {
      padding: 0%;
      padding-left: 1em;
      display: flex;
      gap: 1.5em;
    }
  }
}
