.header {
  font-family: "Raleway", sans-serif;
  background-color: $primary-color;
  display: flex;
  flex-flow: column;
  align-items: center;

  h1 {
    padding: 0.5em 0em 0em 0em;
    font-size: 2.6em;
    font-weight: 700;
    margin: 0%;
  }
  nav{
    .ul-nav {
      display: flex;
      gap: 1rem;
      font-weight: 400;
      color: #fff;
      padding: 0%;
      li {
        text-align: center;
        a {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: $primary-color;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    h1 {
      font-size: 3em;
      padding: 0.1em 0em 0.1em 1em;
    }
    nav{
      align-self:center;
      .ul-nav {
        display: flex;
        align-content: space-around;
        gap: 20px;
        font-size: 1.1em;
        margin-bottom: 0rem;
        font-weight: 400;
        color: #fff;
      }
    }    
  } 
}