header {
  font-family: "Poppins", sans-serif;
  background-color: $primary-color;
  .navbar {
    &-brand {
      color: $font-color;
      font-size: 2rem;
      font-weight: 900;
      &:hover {
        color: $font-color;
      }
    }
    &-nav{
      .nav-link {
        color: white;
        &:hover{
          font-weight: bold;
        }
      }
      .link-active{
        color: white;
        text-decoration: underline;
      }
    } 
    .offcanvas{
      background-color: $dark-card-color;
      border-top: $secundary-color solid 2px;
      border-left: $secundary-color solid 2px;
      &-header{
        &-title{
          color: $font-color;
          font-weight: 700;
        }
      }
      
    }
  }
}
