.ri-error-warning-fill {
  color: red;
}

.ri-checkbox-blank-circle-fill {
  color: white;
}

.ri-check-double-line {
  color: green;
}

.ri-arrow-drop-right-line{
  font-size: 1em;
}
.ri-menu-fill{
  color: white; border: none; font-size: 20px;
}


.logos {
  background-color: #000000;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  &:hover {
    color: $tertiary-color;
    transition-duration: 300ms;
    padding: 0.6em;
    font-size: 1.6em;
  }
}
